
			<div>
               <hi>Todo los productos</hi>
                <ul{{#each product}}>
                    <li>
                        {{product.title}}
                    </li>
                </ul {{/each}}>
            </div>
